body {
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
}

.under {
    display: inline-block;
    position: relative;
    color: #0F9D58;
  }
  
  .under::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.7px;
    /* width: 50%; */
    bottom: 0;
    left: 0;
    background-color: #0F9D58;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .under:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.mobile, .mobile-two {
    width: 50%;
}

.mobile-two {
    top: 10rem;
}

@media screen and (min-width: 500px) {
    .mobile-two {
        position: absolute;
        top: 11rem;
    }
}
@media screen and (min-width: 570px) {
    .mobile-two {
        position: absolute;
        top: 9rem;
    }
}
@media screen and (min-width: 700px) {
    .mobile-two {
        position: absolute;
        top: 5rem;
    }
}

.swiper-scrollbar-drag {
    display: none;
}

.swiper-scrollbar {display: none;}
.swiper-scrollbar-horizontal {display: none;}

.swiper-pagination-bullet {
    margin-top: 20px;
    border: 2px solid green;
}

.swiper-button-next {
    font-size: 20px;
}

.swiper-pagination {
    margin-top: 30px;
    position: absolute;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: #212327;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #0F9D58; 
}

.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve svg {
    position: relative;
    display: block;
    width: calc(186% + 1.3px);
    height: 416px;
    transform: rotateY(180deg);
}

.curve .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .curve svg {
        width: calc(223% + 1.3px);
        height: 317px;
    }
}

@media (max-width: 765px) {
    .curve svg {
        width: calc(160% + 1.3px);
        height: 80px;
    }
    .curvetwo svg {
        /* position: relative;
        display: block; */
        width: calc(155% + 1.3px);
        height: 90px;
    }
}


@media screen and (min-width: 1000px) {
    .curvetwo svg {
        position: relative;
        display: block;
        width: calc(133% + 1.3px);
        height: 162px;
    }
}


.curvetwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curvetwo .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1678378618 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678378618 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 80px;
}

@media screen and (min-width: 120px) {
    .custom-shape-divider-bottom-1678378618 svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 125px;
    }
}

@media screen and (max-width: 450px) {
    .custom-shape-divider-bottom-1678378618 svg {
        position: relative;
        display: block;
        width: calc(145% + 1.3px);
        height: 90px;
    }
}

.custom-shape-divider-bottom-1678378618 .shape-fill {
    fill: #FFFFFF;
}


@media screen and (min-width: 430px) {
    .test {
        min-height: 500px;
    }
}
@media screen and (min-width: 490px) {
    .test {
        min-height: 540px;
    }
}
@media screen and (min-width: 580px) {
    .test {
        min-height: 580px;
    }
}
@media screen and (min-width: 580px) {
    .test {
        min-height: 600px;
    }
}
@media screen and (min-width: 768px) {
    .test {
        min-height: 400px;
    }
}
@media screen and (min-width: 1089px) {
    .test {
        min-height: 500px;
    }
}














.custom-shape-divider-top-1678566261 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678566261 svg {
    position: relative;
    display: block;
    width: calc(259% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1678566261 .shape-fill {
    fill: #FFFFFF;
}


.linear {
    background-color: #A7F9BE; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(red, yellow); */
    background: linear-gradient(180deg, #A7F9BE 11.77%, rgba(234, 234, 234, 0.5) 57.11%);
  }


  .feedback {
    min-height: 200px;
  }

  @media screen and (max-width:600px) {
    .foot {
        display: flex;
        flex-wrap: wrap;
    }
  }





  .foot-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.foot-svg svg {
    position: relative;
    display: block;
    width: calc(162% + 1.3px);
    height: 103px;
}

.foot-svg .shape-fill {
    fill: #FFFFFF;
}