* {
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.down-triangle { 
    width: 0;
	height: 0;
 }
 .border-style {
	border-top: 30px solid #D9D9D9;

 }
 .border-style-two {
	border-top: 30px solid #FC9E1C;

 }

.under {
    display: inline-block;
    position: relative;
    color: #0F9D58;
  }
  
  .under::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.7px;
    /* width: 50%; */
    bottom: 0;
    left: 0;
    background-color: #0F9D58;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .under:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.mobile {
    width: 30%;
}
.mobile-two {
    width: 40%;
}

.swiper-scrollbar-drag {
    display: none;
}

.swiper-scrollbar {display: none;}
.swiper-scrollbar-horizontal {display: none;}

.swiper-pagination-bullet {
    margin-top: 20px;
    border: 2px solid green;
}

.swiper-button-next {
    font-size: 20px;
}

.swiper-pagination {
    margin-top: 30px;
    position: absolute;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: #212327;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #0F9D58; 
}
.lists {
    list-style-type: disc;
}

.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 20%; */
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve svg {
    position: relative;
    display: block;
    width: calc(186% + 1.3px);
    height: 286px;
    transform: rotateY(180deg);
}

.curve .shape-fill {
    fill: #FFFFFF;
}


.curvetwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curvetwo .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1678378618 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678378618 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 80px;
}

/* @media screen and (max-width: 500px) {
    .seeing {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: red; 
    }
} */

.unbounded {
    font-family: 'Unbounded', cursive;
}

.dd {
    text-overflow: ellipsis;
}

.progress-bar {
    position: fixed;
    left: 0;
    right: 0;
    height: 2px;
    background: #0F9D58;
    margin-bottom: 8px;
    transform-origin: 0%;
  }

.start {
    cursor: pointer;
}
.start:hover {
    background-color: #75a7f6;
}
.let {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (min-width: 1000px) {
    .let {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 0px;
    }
    .box {
        width: 45.5%;
    }
}

.swiper-button-prev {
    background-color: white;
    color: #666666 !important;
    border-radius: 50%;
    width: 8% !important;
    height: 35% !important;
}

@media screen and (min-width: 425px) {
    .look {
        margin-top: 70px;
    }  
}
@media screen and (min-width: 1000px) {
    .look {
        margin-top: 0px;
    }  
}

@media screen and (min-width: 700px) {
    .mobile-two {
        position: absolute;
        top: 2rem;
    }
}
@media screen and (min-width: 500px) {
    .mobile-two {
        top: 2rem;
        width: 40%;
    }
}
@media screen and (min-width: 400px) {
    .mobile-two {
        top: 5rem;
        width: 30%;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .curve svg {
        width: calc(223% + 1.3px);
        height: 317px;
    }
}

@media (max-width: 765px) {
    .curve svg {
        width: calc(149% + 1.3px);
        height: 56px;
    }
    .curvetwo svg {
        width: calc(155% + 1.3px);
        height: 90px;
    }
}


@media screen and (min-width: 1000px) {
    .curvetwo svg {
        position: relative;
        display: block;
        width: calc(133% + 1.3px);
        height: 162px;
    }
}


@media screen and (min-width: 120px) {
    .custom-shape-divider-bottom-1678378618 svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 125px;
    }
}

@media screen and (max-width: 450px) {
    .custom-shape-divider-bottom-1678378618 svg {
        position: relative;
        display: block;
        width: calc(145% + 1.3px);
        height: 90px;
    }
}

.custom-shape-divider-bottom-1678378618 .shape-fill {
    fill: #FFFFFF;
}


@media screen and (min-width: 430px) {
    .test {
        min-height: 500px;
    }
}
@media screen and (min-width: 490px) {
    .test {
        min-height: 540px;
    }
}
@media screen and (min-width: 580px) {
    .test {
        min-height: 580px;
    }
}
@media screen and (min-width: 580px) {
    .test {
        min-height: 600px;
    }
}
@media screen and (min-width: 768px) {
    .test {
        min-height: 400px;
    }
}
@media screen and (min-width: 1089px) {
    .test {
        min-height: 500px;
    }
}


.custom-shape-divider-top-1678566261 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678566261 svg {
    position: relative;
    display: block;
    width: calc(259% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1678566261 .shape-fill {
    fill: #FFFFFF;
}


.linear {
    background-color: #A7F9BE; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(red, yellow); */
    background: linear-gradient(180deg, #A7F9BE 11.77%, rgba(234, 234, 234, 0.5) 57.11%);
  }


  .feedback {
    min-height: 200px;
  }

  @media screen and (max-width:600px) {
    .foot {
        display: flex;
        flex-wrap: wrap;
        
    }
  }


  .foot-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.foot-svg svg {
    position: relative;
    display: block;
    width: calc(162% + 1.3px);
    height: 103px;
}

.foot-svg .shape-fill {
    fill: #FFFFFF;
}